.Footer-Comp
{
    padding: 10px;
}
.Feet button
{
    border: none;
}
.Foot
{
    position:sticky;
    bottom: 5px;
}
.Feet
{
    display: flex;
    align-items: center ;
    justify-content: center;
    border-radius: 10px;
}