.Footer-Comp
{
    padding: 10px;
}
Link button
{
    outline: none;
}
.Foot
{
    position: fixed;
    bottom: 5px;
}
.Feet
{
    display: flex;
    align-items: center ;
    justify-content: center;
}